<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-heading">
      <p>Made with ♥ by the best branding team in the world!</p>
    </div>

        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>

  </div>

</footer>
