.jibe-default-button {
  background-color: #478fcc;
  border-color: #478fcc;
  color: white;
}

.jibe-default-button:hover {
  color: white;
}

.jibe-active-button {
  background-color: #2b79ab;
  border-color: #2b79ab;
  color: white;
}

.jibe-active-button:hover {
  color: white;
}

.jibe-hover-button {
  background-color: #419cd7;
  border-color: #419cd7;
  color: white;
}
.jibe-hover-button:hover {
  color: white;
}
