.fa-resize {
  font-size: 3em !important;
  padding: 10px 0 10px 0;
}

.fa-jibe-color {
  color: $dodger-blue;
}

#Isolation_Mode {
  width: 80px;
  height: 80px;
  fill :$dodger-blue;
}

.svg-title {
  text-align: center;
}
