.jibe-h1 {
  font-size: 3.2em !important;
}

.jibe-h2 {
  font-size: 2em !important;
}

.jibe-h3 {
  font-size: 1.5em !important;
}

.jibe-h4 {
  font-size: 1.125em !important;
}

.jibe-h5 {
  font-size: 1.125em !important;
}

.jibe-h6 {
  font-size: .75em !important;
}

.weight1 {
  font-family: "Lato";
  font-weight: 100;
  font-size: 1.5em;
}
.weight2 {
  font-family: "Lato";
  font-weight: 100;
  font-style: italic;
  font-size: 1.5em;
}
.weight3 {
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
  font-size: 1.5em;
}
.weight4 {
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
  font-size: 1.5em;
}
.weight5 {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}
.weight6 {
  font-family: "Lato";
  font-weight: 400;
  font-style: italic;
  font-size: 1.5em;
}
.weight7 {
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.5em;
}
.weight8 {
  font-family: "Lato";
  font-weight: 700;
  font-style: italic;
  font-size: 1.5em;
}
.weight9 {
  font-family: "Lato";
  font-weight: 800;
  font-size: 1.5em;
}
.weight10 {
  font-family: "Lato";
  font-weight: 800;
  font-style: italic;
  font-size: 1.5em;
}
